@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}
